body{
    background-color: white;
    color: #3F4143;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 50px;
}

.pink-mode-body {
  background-color: #DBC6C6;
  color: white;
}

p{
    font-size: 1.1em;
}

a{
    color: #b5bbc0;
    text-decoration: none;
}

.pink-mode-a{
    color: #f17d7d;
}


h1, h2, h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}


header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  margin-top: 25px;
  width: 630px;
  float: right;

}

.wrapper {
  width: 960px;
  margin: 0 auto;
}


#intro p{
    line-height: 0.6;
    
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 100px;
  -webkit-font-smoothing:subpixel-antialiased;
}

footer a {
    margin: auto 5px;
}


/* style fontawesome */
.pink-mode-fa{
    color: white !important;
}

.fa{
    color: #333;
    font-size: 2em;
}

.fa-circle{
    color: #f17d7d;
}
/* .fa-envelope, .fa-linkedin, .fa-twitter, .fa-instagram {
    color: green;
} */

#toggleBtn{
  margin: 20px auto;
}

#backBtn{
  font-size: 2em;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right:320px;
  }

  section {

    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
}